/*--------FontFace-------------------------------------------------------------------------------------------------------------------------*/
@font-face
{
font-family:"eshiatrad_ttf";
src: url('../Styles/Fonts/eshiatrad.ttf') format('truetype'); 
}

@font-face
{
font-family:"eshiatrad";
src: url("../Styles/Fonts/eshiatrad.eot"); 
}

#mainpage {
	width:100%;
	height:1024px;
}

.leftSection {
	background:url(../Images/Main_Page_Top.jpg) top left no-repeat;
	padding:0 15px 0 0;
	background-size:contain;
	background-origin:border-box;
	height:100%;
	vertical-align:top;
}

/*---Header------Header------Header------Header------Header------Header------Header------Header------Header---*/
.top-header {
	border:none;
	margin:0px 0px 5px 3em;
	padding:0;
	height:30px;	
}
.header-area {
	background:#81b3d9;
	border:none;
	border-radius:8px;
	margin:0px 0px 5px 3em;
	padding:5px;
	font-size:0.8em;
	text-align:center;
}
.header-links {
	padding:0px;
	border:1px solid #333;
	border-radius:8px;
	width:100%;
	height:auto;
	background:#FFF url(/Images/feqahatback.jpg) right top no-repeat;
	display:inline-table;
}
.header-links TD {
	padding:5px;
	margin:0px;
	direction:rtl;
	width:100%;
	height:auto;
	border-radius:8px;
}
.header-links TD SPAN {
	border:none;
	margin:5px 10px;
	height:10px;
}
.header-links TD SPAN A {
	color:#333;
}

.header-links TD SPAN A:hover {
	color:#ef7216;
}
/*---Header------Header------Header------Header------Header------Header------Header------Header------Header---*/


/*messenger---messenger---messenger---messenger---messenger---messenger---messenger---messenger---messenger---*/
.messenger-area {
	background:#81b3d9;
	border:none;
	border-radius:8px;
	margin:0px 0px 5px 3em;
	padding:5px;
	font-size:0.8em;
	direction:rtl;
}
.messenger-table {
	border:none;
	border-radius:5px;
	min-height:30px;
	padding:0px;
	text-align:center;
	margin:0px;
	direction:rtl;
	width:100%;
	height:auto;
}
.connecting-panel {
	color:#FFFFFF;
	font-size:1em;
	text-align:center;
}
.messenger-Cpannel {
	background:#c0dcf0;
	border-radius:4px;
	text-align:right;
}
.messenger-Cpannel #control_panel {
	width:100%;
	background: url(/Images/Messenger-bar.jpg) no-repeat left;
	border-radius:4px;
}
.messenger-tree-panel {
	background:#c0dcf0;
	border-radius:5px;
	padding:3px;
	width:25%;
	scrollbar-base-color:#9dc4e1;
	scrollbar-face-color:#c0dcf0;
	scrollbar-arrow-color:#FFF;
}
.messenger-tree-panel UL, .messenger-tree-panel UL LI, .messenger-tree-panel UL .subitem {
	display:block;
	text-align:left;
	padding-left:4px;
	margin:5px 0px;
}
.messenger-tree-panel UL .online-user { color:#388b07; }
.messenger-tree-panel UL .offline-user {
	color:#7eaed0;
	font-size:0.8em;
}
.messenger-tree-panel UL .offline-group {
	color:#7eaed0;
	font-size:0.9em;
}
messenger-tree-panel UL .online-group {
	color:#333333;
	font-weight:bold;
}
.messenger-tree-panel UL .clickable { cursor:pointer; }
.expanded > UL { display: inherit }
.collapsed > UL { display: none }
.messenger-show-panel-area {
	background:#445f76;
	border-radius:5px;
}
.messenger-show-panel {
	background:#445f76;
	border-radius:5px;
	height:150px;
	overflow:auto;
	text-overflow:ellipsis;
	scrollbar-base-color:#FFF;
	scrollbar-face-color:#c8d6e0;
	scrollbar-arrow-color:#FFF;
	direction:rtl;
	text-align:right;
	padding:4px;
	color:#FFF;
	word-break:break-all;
	word-wrap:break-word;
}
.messenger-show-panel UL {
	padding:0;
	margin-bottom:10px;
}
.messenger-show-panel .me-to {
	background:#0ab123 url(/Images/arrow-greens.jpg) no-repeat left;
	font-size:1em;
	padding:2px 3px 4px 20px;
	border:none;
	border-radius:4px;
	float:right;
	list-style:none;
	color:#FFF;
}
.log-message {
	font-size:0.9em;
	padding:4px 3px 0px 20px;
	border:none;
	list-style:none;
	color:#FFF;
	text-indent:5px;
	display:block;
}
.messenger-show-panel .to-me {
	background:#229dfd url(/Images/arrow-blue.jpg) no-repeat left;
	font-size:1em;
	padding:2px 3px 4px 20px;
	border:none;
	border-radius:4px;
	float:right;
	list-style:none;
	display:block;
}
.messenger-send-panel {
	border-radius:5px;
	height:37px;
	text-align:left;
	background:#FFF;
	padding:0px 3px;
	margin:0px;
	border:none;
}
.messenger-send-panel .send-panel-textarea {
	height:16px;
	border:none;
	border-radius:5px;
	width:inherit;
	padding:5px;
	overflow:hidden;
	cursor:text;
	float:right;
	outline:none;
}
.messenger-send-panel .send-panel-button {
	height:29px;
	cursor:pointer;
	width:auto;
	padding:3px;
	margin:0;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em;
	background:#FFF;
	border-radius:4px;
	border:1px solid #c0dcf0;
	color:#445f76;
}
.messenger-send-panel .send-panel-button:Hover {
	height:29px;
	cursor:pointer;
	width:auto;
	padding:3px;
	margin:0;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em;
	background:#445f76;
	border-radius:4px;
	border:1px solid #445f76;
	color:#FFF;
}
.form-sendpanel TABLE {
	border:none;
	margin:0px;
}
#publog-back { color:#CCC; }
#publog-back INPUT { vertical-align:bottom; }
#publog-back, #publog-back INPUT, #publog-back LABEL { cursor:pointer; }
.messenger-Cpannel #btnLogin, .messenger-Cpannel #btnLogout {
	background:#c5daea;
	border-radius:4px;
	border:none;
	text-height:font-size;
	display:inline-block;
	height:28px;
	line-height:1em;
	text-align:center;
	color:#333333;
	cursor:default;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em;
	text-align:center;
}
.messenger-Cpannel #btnLogout { float:left; }
.messenger-user-state { float:right; }
#btnLogin:disabled, #btnLogout:disabled {
	background:#b5ccdd;
	border-radius:4px;
	border:none;
	padding:0px 3px;
	margin:3px 3px;
	display:inline-block;
	height:28px;
	text-align:center;
	color:#a2b9cb;
}
#btnLogin:enabled, #btnLogout:enabled {
	background:#c0dcf0;
	border-radius:4px;
	border:1px solid #FFF;
	padding:0px 3px;
	margin:3px 3px;
	display:inline-block;
	text-align:center;
	height:28px;
	color:#FFFFFF;
}
#btnLogin:enabled:Hover, #btnLogout:enabled:Hover {
	background:#445f76;
	border-radius:4px;
	border:1px solid #445f76;
	padding:0px 3px;
	margin:3px 3px;
	display:inline-block;
	text-align:center;
	cursor:pointer;
	color:#FFF;
}
#btnLogin.disabled-item, #btnLogout.disabled-item {
	background:#b5ccdd;
	border-radius:4px;
	border:none;
	padding:0px 3px;
	margin:3px 3px;
	display:inline-block;
	height:28px;
	text-align:center;
	color:#a2b9cb;
}
.messenger-Cpannel #uid, .messenger-Cpannel #pwd {
	border:none;
	margin:0px 5px;
	height:18px;
	padding:0px;
	width:60px;
	background:#c0dcf0;
	border-radius:4px;
}
#uid-back, #pwd-back { cursor:default; }
.messenger-Cpannel #pwd:Focus, .messenger-Cpannel #uid:Focus {
	border:none;
	outline:none;
}
.messenger-Cpannel select, .messenger-Cpannel select:Focus {
	border:none;
	height:18px;
	outline:none;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em;
	direction:rtl;
	background:#edf6fd;
}
.messenger-Cpannel select, .messenger-Cpannel select:Focus { -webkit-appearance:;
}
.messenger-events-tree { height:180; }
.friends-list {
	overflow-y:auto;
	height: 175px;
	direction:ltr;
}
.messenger-events-tree UL {
	height:inherit;
	overflow:auto;
	padding:0px;
	margin:0px;
}
.friends-list .user {
	height:20px;
	border:none;
	padding:0;
	margin:0;
	display:block;
}
.friends-list .user-image {
	height:18px;
	width:19px;
	display:inline-block;
	border:none;
	float:left;
}
.online-user .user-image { background:url(/Images/online.jpg) no-repeat top; }
.offline-user .user-image { background:url(/Images/offline.jpg) no-repeat top; }
.friends-list SPAN.user-name {
	border:1px solid blue;
	height:18px;
	margin:0;
	padding:2px 3px;
	display:inline-block;
	float:left;
}
.friends-list .online-user.selected-user DIV.user-name SPAN {
	background:url(/Images/online-selected.jpg) no-repeat center left;
	padding:2px 24px 2px 24px;
	color:#006633;
}
.friends-list .offline-user.selected-user DIV.user-name SPAN {
	background:url(/Images/offline-selected.jpg) no-repeat center left;
	padding:2px 0px 2px 24px;
	color:#76a1bf;
}
.friends-list .online-group.collapsed {
	background:url(/Images/online-collapsed.jpg) no-repeat left top;
	padding-left:20px;
	margin-top:0px;
	height:20px;
}
.friends-list .online-group.expanded {
	background:url(/Images/online-Expanded.jpg) no-repeat left top;
	padding-left:20px;
	margin-top:0px;
}
.friends-list .offline-group.collapsed {
	background:url(/Images/offline-collapsed.jpg) no-repeat left top;
	padding-left:20px;
	margin-top:0px;
	height:20px;
}
.friends-list .offline-group.expanded {
	background:url(/Images/offline-Expanded.jpg) no-repeat left top;
	padding-left:20px;
	margin-top:0px;
}
.friends-list UL, .friends-list UL LI { list-style:none; }
.messenger-Show-div {
	border:1px solid red;
	float:right;
	height:180px;
}
.messenger-field-back {
	background:#edf6fd;
	border-radius:4px;
	border:none;
	padding:4px;
	margin:3px 3px;
	display:inline-block;
	height:20px;
	text-align:right;
	vertical-align:top;
}
.messenger-field-back-state {
	background:none;
	border:none;
	padding:4px 4px 0px 0px;
	margin:3px 3px;
	display:inline-block;
	height:20px;
	text-align:right;
	color:#5c778e;
	cursor:default;
}
/*
massenger states :
Uninitialized
InitializeFailed
DC
Connecting
LoginFailed
Connected
*/

/* by default all views except common-view are invisible */
.uninitialized-view, .initialize_failed-view, .DC-view, .connecting-view, .login_failed-view, .connected-view { display:none !important }
/* common-view is invisible in uninitialized && initialize_failed state */
.Uninitialized .common-view, .InitializeFailed .common-view { display:none !important }
/* each view is visible in its corresponding state */
.Uninitialized .uninitialized-view, .InitializeFailed .initialize-failed-view, .DC .dc-view, .Connecting .connecting-view, .LoginFailed .login_failed-view, .Connected .connected-view { display:inherit !important }
/* each oposite item is invisible in its corresponding state */
.Uninitialized .no-uninitialized-view, .InitializeFailed .no-initialize_failed-view, .DC .no-dc-view, .Connecting .no-connecting-view, .LoginFailed .no-login_failed-view, .Connected .no-connected-view { display:none !important }
.Uninitialized .uninitialized-view, .InitializeFailed .initialize-failed-view, .DC .dc-view, .Connecting .connecting-view, .LoginFailed .login_failed-view, .Connected .connected-view { display:table-row !important }
.DC #btnLogin { display:inline-block !important }
.Connected #btnLogin { display: none !important }
.Uninitialized .common-view, .InitializeFailed .common-view { display:none !important }
#messenger.DC .messenger-show-panel { display:none }
.control-panel.publog #publog-back { color:#000000 }
.control-panel.publog #pwd-back, .control-panel.publog #uid-back { color:#CCC }

.messengerlink {
	border:1px solid #FFF;
	padding:0;
	margin:0;
	direction:ltr;
	width:100%;
	height:auto;
	border-radius:4px;
	text-align:right;	
}
.messengerlink-td1 {
	border:1px solid #81b3d9;
	background:none;
	padding:0;
	width:150px;
	margin:0;
}
.messengerlink-td2 {
	border:none;
	border-right:1px solid #FFF;
	background:none;
	padding:0 5px 0 0;
	width:200px;
	margin:0;
	line-height:16px;
	}
.messengerlink-td2 a {
font:Tahoma, Geneva, sans-serif;
font-size:12px;
color:#FFFFFF;
	}	
.messengerlink-td2 a:hover {
font:Tahoma, Geneva, sans-serif;
font-size:12px;
color:#1b6191;
	}	
.Payam {
border:none;
padding:0;
margin:0;	
background:#275c82;
color:#FFF;
text-align:center;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:1.6em;
border-radius:2px;
}

.Payam a {
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:1em;
text-decoration:none;
color:#FFF;
}
/*---messenger---messenger---messenger---messenger---messenger---messenger---messenger---messenger---messenger---*/

#content {
	margin:0 0 0 2.5em;
	background:url(/Images/Content_Back.jpg) repeat-x top;
	border:1px solid #FFF;
	border-radius:8px;
	padding:0;
	direction:rtl;
	text-align:justify;
	line-height:1.7em;
}

.rightSection {
	height:100%;
	width:184px;
	vertical-align:top;
}

#logo {
	border:0;
	margin:0;
	padding:0;
}

.rightmenu {
	/*text-align:right;*/
	width:100%;
	height:360px;
	margin:0;
	padding:0;
}
.rightmenu_Ar {
	text-align:right;
	width:100%;
	height:425px;
	vertical-align:top;
	margin:0;
	padding:0;
}


/*vertical_menu-----------------------------------------------------------------------------------------------------*/
/*general*/
.vmenu {
	display:block;
	list-style-type:none;
	position:absolute;
	margin:0;
	padding:0
}
.vmenu a { font-weight:normal !important }
.vmenu-item {
	position:relative;
	font-size:14px;
}
.vmenu-item > .vmenu {
	border:1px solid #FFF;
	z-index:1010;
	display:none;
	position:absolute;
	right:90%;
	top:-20%;
	height:auto;
}
.vmenu-item:hover { text-decoration:none !important }
/*.vmenu-item:hover > .vmenu {display:block;}*/
.fixed-menu {
	display:block;
	z-index:1000;
}
/*customize*/
.vmenu {
	height:auto;
	direction:rtl !important;
	font:Tahoma, Geneva, sans-serif normal !important;
}
.vmenu, .vmenu A {
	text-indent:1em !important;
	text-decoration:none !important;
	height:1.5em !important;
}
.vmenu, .vmenu-item, .vmenu A {
	width: 184px;
	display:block
}
.vmenu-item > a {
	color:#00CCFF;
	background:#333;
	background:url(../Images/MenuBack.jpg) repeat-y top;
}
.vmenu-item:hover > a {
	color:#FFFFFF;
	background:#666666;
	background:url(../Images/MenuBack_over.jpg) repeat-y top;
}
.fixed-menu > .vmenu-item > a {
	color:#333 !important;
	background:none;
}
.fixed-menu:hover > .vmenu-item > a {
	color:#333 !important;
	text-decoration:none !important;
	background:none;
}
.fixed-menu > .vmenu-item {
	color:#F00;
	background:none;
}
.fixed-menu:hover > .vmenu-item {
	color:#F11;
	background:none;
}
.fixed-menu> .vmenu-item:hover > a {
	color:#00CCFF !important;
	background:url(../Images/MenuBack.jpg) repeat-y top;
}
.vmenu-item > .vmenu > .vmenu-item { border:1px solid #FFF }
.vmenu-title {
	border-radius:5px;
	background:#a9c3d9 url(/Images/vmenu-title-back.gif) top center repeat-x;
	color:#FFF;
	font-size:0.9em;
	font-weight:bold;
	margin: 0 0 1px 0;
}
.vmenu-title-new {
	border-radius:5px;
	background:#FF8A63 url(/Images/vmenu-title-back-new.gif) top center repeat-x;
	color:#FFF;
	font-size:0.9em;
	font-weight:bold;
}
.vmenu-title-new:hover {
	color:#FFF;
}
/*--------------------------------------------------------------------------------------------------------------------*/

.Separator {
	height:1px;
	background:#a9c3d9;
	border:none;
	margin:0px;
	cursor:default;
}
.Separator:hover { cursor:none }

#contentfooter {
	background:url(/Images/Content_Back---down.jpg) repeat-x bottom;
	height:250px;
	vertical-align:bottom;
	margin-left:auto;
	margin-right:auto;
	
}
#contentfooter a { color:#006699 !important; }
#contentfooter a:hover { color:#FF6600 !important; }





#ramezan_link {color:#93C !important;}

#ramezan_link:hover {color:#FF6600 !important;}



#karbala_link {color:#F00 !important;}

#ramezan_link:hover {color:#FF6600 !important;}


.imam-hossein {
background:url(/Images/Imam-hossien.jpg)right top no-repeat #000;
border-radius:3px;
}
.ashoora-text {
border:1px solid #000;
padding:8px;
font-size:1em;
font-weight:bold;
background:#000 url(/Images/Imam-hossien2.jpg) center top no-repeat;
color:#FFF;
text-align:center;	
}


/*.newdialog {
	position:relative;
	right:0px;
	bottom:19px;
	width:185px;
	height:21px;
	opacity:0;
	z-index:99999;
}
.newdialog:hover {
	position:relative;
	right:0px;
	bottom:19px;
	width:600px;
	height:21px;
	background:#ff5b21;
	
	border-radius:6px;
	opacity:1;
	z-index:99999;
	color:#FFFFFF;
}*/

.khat {
	margin:3px 20px;
	width: 100px;
	height: 1px;
	background: #a9c3d9
}


/*---------------------------------------------------- nazarsanji --*/

.forms {
	width: 400px;
	margin: 10px auto;
	background: #dbeaf9;
	border: 1px #81b3d9 solid;
	text-align: right;
	padding: 0;
}

form {
	margin:0px;
	padding:0px;	
}

.ok, .pm {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:10px;
	display:block;
	border:1px #81b3d9 solid;
	background:#cde3f8;
}


.ok {
	width:400px;
	margin: 20px auto;
}

.pm {
	width:355px;
	margin: 20px 0;
}



input, select, textarea {
	padding:5px;
	font-size:8pt;
	border: 1px solid #cacaca;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
input[type="submit"]{
	font-family:tahoma;
	padding:5px;
	font-size:9pt;
	border: 1px solid #81b3d9;
	background: #81b3d9;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

input[type="submit"]:hover{
	font-family:tahoma;
	padding:5px;
	font-size:9pt;
	border: 1px solid #81b3d9;
	background:#cde3f8;
	color:#000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

input:hover ,select:hover,textarea:hover {
	border: 1px solid #6295f3;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.forms {
	direction: rtl;
	padding-right:20px;
	text-align: right;
}
.forms h2 {
	font: bold 11px tahoma;
	padding: 8px 2px;
	border-bottom: 1px solid #CCC;
}

.forms label {
	width: 150px;
	float: right;
	margin: 5px 0 0 0;
}

.forms .form, .forms .form-ltr {
	width: 200px;
	float: right;
	padding: 2px;
	margin: 5px 0;

}
.forms .form-ltr {
	direction: ltr;
	text-align: left;
}
.forms .text {
	width: 250px;
	height: 100px;
	overflow: auto;
	font: normal 11px/1.4 Tahoma, Geneva, sans-serif;
}


/*---------------------------------------------------- .map --*/


.map {
	width: 210px;
	margin: 0 20px;
}
.map ul {
	margin: 0 -10px;
	padding: 0 -10px;
	list-style: decimal;
}


.map li a {
	padding: 0;
	margin: 5px;
	color: #000;
	text-decoration: none;
	color: red;
}

.childmap ul {
	padding: 0;
	margin: 0;
	list-style-image: url(images/mapnav.png) !important;
}

.childmap li a {
	width: 150px;
	text-decoration: none;
	color: #2a74ac;
}

.childmap li a:hover {
	color: #222;
}







/*-------------------------------- hozeha ---*/




.hozeha {
	width: 840px\9;
}

.s1, .s2, .s3 {
	width:31%;
	float: right;
	margin: 0 2% 0 0;
}

.linkbox {
	width:100%;
	margin: 0 0 5px 0;
	background: #e5edf4;
	border: 1px #a9c3d9 solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 0.9em;
}

.linkboxheader {
	width: 97%;
	height: auto;
	margin: 4px auto;
	padding: 0;
	background: #81b3d9;
	text-align: center;
	color: #fff;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
}

.linkbox ul {
	display: block;
	list-style: none;
	width: 97%;
	margin: 2px auto;
	padding: 0;
}

.linkbox li {
	width: 100%;
	padding: 0;
	margin: 0;
}

.linkbox li a:link, .linkbox li a:visited {
	display: block;
	padding: 0 5px;
	background: #cbdbe8;
	text-decoration: none;
	list-style: none;
	margin: 5px 0;
	color: #000;
	font-size: 0.9em;
	border: 1px #a9c3d9 solid;
}

.linkbox li a:hover {
	background: #81b3d9;
	color: #fff;
}




.others {
	width:96%;
	margin: 0 3%;
	padding: 0 0 5px 0;
	background: #e5edf4;
	border: 1px #a9c3d9 solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 0.9em;
	clear: both;
}

.othersheader {
	width: 98%;
	height: auto;
	margin: 4px auto;
	padding: 0;
	background: #81b3d9;
	text-align: center;
	color: #fff;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
}
.others ul {
	list-style: none;
	display: inline;
	width: 98%;
	margin: 2px 1%;
	padding: 0;
}

.others li {
	width: 100%;
	padding: 0;
	margin: 3px;
	display: inline;
}

.others li a:link, .others li a:visited {
	display: inline;
	padding: 5px;
	background: #cbdbe8;
	text-decoration: none;
	list-style: none;
	margin: 5px 0;
	color: #000;
	font-size: 0.9em;
	border: 1px #a9c3d9 solid;
}

.others li a:hover {
	background: #81b3d9;
	color: #fff;
}



/*.newdialog {
	position:relative;
	right:0px;
	bottom:19px;
	width:185px;
	height:21px;
	opacity:0;
	z-index:99999;
}
.newdialog:hover {
	position:relative;
	right:0px;
	bottom:19px;
	width:600px;
	height:21px;
	background:#ff5b21;
	
	border-radius:6px;
	opacity:1;
	z-index:99999;
	color:#FFFFFF;
}*/

table {
	margin: 0;
	padding: 0;
}

.wrap {
	border: 2px #a9c3d9 solid;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	margin: 10px;
	padding: 8px;
}

.onvanedoroos {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}




table.main {
	width:98%;
	text-align: center;
	margin:  auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a9c3d9;
}

table.divider {
	width: 98%;
	margin: auto;
}

table.tozih {
	border: 0 #fff solid !important;
	height: 100%;
}

td.newtd, td.esmtd, td.tozihtd, td.saltd  {
	border: 1px #fff solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a9c3d9;
}

td.esmtd, td.esmtd a {
	width: 25%;
	color: #fff;
	font-size: 18px;
}

td.tozihtd {
	width: 80%;
	color: #fff;
	font-size: 20px;
}

.date {
	font-size: 14px;
}

td.saltd {
	width: 20%;
}

td.saltd, td.saltd a:link,td.saltd a:visited {
	font-size: 12px;
	color: #66799c;
	text-decoration: none;
}

td.saltd a:hover {
	 color: #fa6633;
}

td.sefr {
	border: 0 #fff solid !important;
}

.sal {
	background:#eff6fc;
	margin: 0 0 2px 0;
	padding: 2px 0;
	border: 1px #fff solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.sal2 {
	background:#eff6fc;
	margin: 0 0 2px 0;
	padding: 8px 0 0 0;
	border: 1px #fff solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 35px;
}

/*-------------------------------------- report ---------------------------*/

.report {
	width:98%;
	text-align: center;
	margin:  auto;
	padding: 8px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #81b3d9;
}

.reportbox {
	width: 140px;
	float: right;
	padding: 5px;
	margin: 0 15px 15px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px #fff solid;
	background: #c3e6fb;
}



.reportbox img {
	padding: 5px;
	margin: 5px;
	border: 1px #a9c3d9 solid;
}

.harhozeh {
	width:98%;
	text-align: center;
	margin:  auto;
	padding: 2px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #c3e6fb;
}
 
.onvanehozeh {
	width: 97%;
	padding: 5px 0;
	text-align: center;
	margin: 15px auto;
	background: #81b3d9;
	border: 1px #fff solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

.onvanehozeh a {
	color: #fff;
}

.ostadbox {
	width: 100px;
	height: 165px;
	float: right;
	padding: 5px;
	margin: 0 15px 15px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px #81b3d9 solid;
	background: #eff6fc;
	font-size: 12px;
	line-height: 1.2;
}

.ostadbox a:hover {
	color: #fff !important;
}

.ostadbox:hover a {
	color: #fff !important;
}


.ostadbox:hover  {
	background: #81b3d9;
	border: 1px #eff6fc solid;
	color: #fff !important;
}


.ostadbox img {
	padding: 5px;
	margin: 5px;
	border: 1px #a9c3d9 solid;
}


.clear {
	clear: both;
}

.divider {
	width: 97%;
	height: 3px;
	background: #c3e6fb;
	margin: 5px auto;
}

/*---------------------------------------- onvanedars -----*/
.onvanedars {
	width: 100%;
	text-align: center;
}
table.amarborder {
	font-size: 13px;
}

table.amarborder, td.amarborder, th.amarborder, th.amarheader , tr.amarborder {
	border: 1px #a9c3d9 solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 25px;
	color: #66799c;

}

td.amarborder a:hover, th.amarborder a:hover, th.amarheader a:hover, tr.amarborder a:hover {
	background: #a9c3d9;
	color: #fff;
	display: block;
}


th.amarheader li {
	display: block;
	pading: 0;
}

th.amarheader li  a {
	display: block;
	pading: 0;
}

.amarborder a:link, .amarborder a:visited {
	text-decoration: none;
	color: #66799c;
}

.amarborder a:hover {
	text-decoration: none;
	color: #fff;
}

th.amarheader  {
	background: #a9c3d9;
	border: 1px #fff solid !important;
}



th.amarheader:hover  {
	color: #fff;
	background: #a9c3d9;
	border: 1px #a9c3d9 solid;
}



table.amarborder, td.amarborder, th.amarborder, tr.amarborder {
	background: #eff6fc;
}



.katibeh img {
	width: 100%;
	height: auto;
}



/*.newdialog {
	position:relative;
	right:0px;
	bottom:19px;
	width:185px;
	height:21px;
	opacity:0;
	z-index:99999;
}
.newdialog:hover {
	position:relative;
	right:0px;
	bottom:19px;
	width:600px;
	height:21px;
	background:#ff5b21;
	
	border-radius:6px;
	opacity:1;
	z-index:99999;
	color:#FFFFFF;
}*/

table {
	margin: 0;
	padding: 0;
}

.wrap {
	border: 2px #a9c3d9 solid;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	margin: 10px;
	padding: 8px;
}

.onvanedoroos {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}




table.main {
	width:98%;
	text-align: center;
	margin:  auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a9c3d9;
}

table.divider {
	width: 98%;
	margin: auto;
}

table.tozih {
	border: 0 #fff solid !important;
	height: 100%;
}

td.newtd, td.esmtd, td.tozihtd, td.saltd  {
	border: 1px #fff solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a9c3d9;
}

td.esmtd, td.esmtd a {
	width: 25%;
	color: #fff;
	font-size: 18px;
}

td.tozihtd {
	width: 80%;
	color: #fff;
	font-size: 20px;
}

.date {
	font-size: 14px;
}

td.saltd {
	width: 20%;
}

td.saltd, td.saltd a:link,td.saltd a:visited {
	font-size: 12px;
	color: #66799c;
	text-decoration: none;
}

td.saltd a:hover {
	 color: #fa6633;
}

td.sefr {
	border: 0 #fff solid !important;
}

.sal {
	background:#eff6fc;
	margin: 0 0 2px 0;
	padding: 2px 0;
	border: 1px #fff solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.sal2 {
	background:#eff6fc;
	margin: 0 0 2px 0;
	padding: 8px 0 0 0;
	border: 1px #fff solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 35px;
}

/*-------------------------------------- report ---------------------------*/

.report {
	width:98%;
	text-align: center;
	margin:  auto;
	padding: 8px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #81b3d9;
}

.reportbox {
	width: 140px;
	float: right;
	padding: 5px;
	margin: 0 15px 15px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px #fff solid;
	background: #c3e6fb;
}



.reportbox img {
	padding: 5px;
	margin: 5px;
	border: 1px #a9c3d9 solid;
}

.harhozeh {
	width:98%;
	text-align: center;
	margin:  auto;
	padding: 2px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #c3e6fb;
}
 
.onvanehozeh {
	width: 97%;
	padding: 5px 0;
	text-align: center;
	margin: 15px auto;
	background: #81b3d9;
	border: 1px #fff solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

.onvanehozeh a {
	color: #fff;
}

.ostadbox {
	width: 100px;
	height: 165px;
	float: right;
	padding: 5px;
	margin: 0 15px 15px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px #81b3d9 solid;
	background: #eff6fc;
	font-size: 12px;
	line-height: 1.2;
}

.ostadbox a:hover {
	color: #fff !important;
}

.ostadbox:hover a {
	color: #fff !important;
}


.ostadbox:hover  {
	background: #81b3d9;
	border: 1px #eff6fc solid;
	color: #fff !important;
}


.ostadbox img {
	padding: 5px;
	margin: 5px;
	border: 1px #a9c3d9 solid;
}


.clear {
	clear: both;
}

.divider {
	width: 97%;
	height: 3px;
	background: #c3e6fb;
	margin: 5px auto;
}

/*---------------------------------------- onvanedars -----*/
.onvanedars {
	width: 100%;
	text-align: center;
}
table.amarborder {
	font-size: 13px;
}

table.amarborder, td.amarborder, th.amarborder, th.amarheader , tr.amarborder {
	border: 1px #a9c3d9 solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 25px;
	color: #66799c;

}

td.amarborder a:hover, th.amarborder a:hover, th.amarheader a:hover, tr.amarborder a:hover {
	background: #a9c3d9;
	color: #fff;
	display: block;
}


th.amarheader li {
	display: block;
	pading: 0;
}

th.amarheader li  a {
	display: block;
	pading: 0;
}

.amarborder a:link, .amarborder a:visited {
	text-decoration: none;
	color: #66799c;
}

.amarborder a:hover {
	text-decoration: none;
	color: #fff;
}

th.amarheader  {
	background: #a9c3d9;
	border: 1px #fff solid !important;
}



th.amarheader:hover  {
	color: #fff;
	background: #a9c3d9;
	border: 1px #a9c3d9 solid;
}



table.amarborder, td.amarborder, th.amarborder, tr.amarborder {
	background: #eff6fc;
}



.katibeh img {
	width: 100%;
	height: auto;
}